@font-face {
    font-family: 'Avenir-Black';
    src: url('../assets/fonts/Avenir-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Georgia';
    src: url('../assets/fonts/georgia.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
